.canvasTop {
    padding : 20px;
    margin-left : 100px;
}
.canvasLeft {
   display: inline-block;
   padding : 20px;
}
.canvasFront {
    display: inline-block;
    padding : 20px;
}
.canvasRight {
    display: inline-block;
    padding : 20px;
}
.canvasBack {
    display: inline-block;
    padding : 20px;
}
.canvasBottom {
    padding : 20px;
    margin-left : 100px;
}

#input {
    position : sticky;
    top : 0;
}

#button {
    position : sticky;
    top : 0;
}

.newCanvasTop {
    padding : 20px;
    margin-left : 100px;
}